<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>VALORANTエージェント一覧</h2>
  <table>
    <form action="/001">
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td><%= row.name %></td>
            <td><%= row.offense %></td>
            <td><%= row.defense %></td>
            <td><%= row.search %></td>
            <td><%= row.control %></td>
            <td>
                <input type="checkbox" name="<%= row.id %>">
                <label for="pick">pick</label>
            </td>
        </tr>
      <% } %>
      <input type="submit" value="決定">
    </form>
  </table>
  <br>
  <a href="/public/weapon.html"> </a><br>
</body>
</html>